.event_program {
    background: #f2f2f2;
    padding: 4rem 0 5rem 0;
    margin-top: 5rem;
}

.event_program__title {
    font-size: 2.2rem;
    text-align: center;
}

.event_program__block {
    margin-top: 2rem;
}

.event_program__block__flex {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    margin-top: 0.5rem;
}

.event_program__block__flex div {
   margin-left: 1.5rem;
}

.event_program__block__flex__time {
    color: #00d3c0;
    font-size: 1.6rem;
    font-style: italic;
}

.event_program__block__title {
    font-style: italic;
}

.event_program__text {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.event_program__text-container {
    padding-top: 2rem;
}

@media (max-width: 767px) {
    .event_program__title {
        font-size: 2rem;
    }

    .event_program__text {
        font-size: 1.1rem;
    }

    .event_program__block__flex__time {
        font-size: 1.2rem;
    }

    .event_program__block__flex {
        font-size: 1.2rem;
    }
}
  