.card {
    margin-top: 1.5rem;
}

.card__text {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.card__sostav {
    font-family: 'Caveat', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

.card__title {
    font-size: 1.5rem;
}

.card__img {
    height: 280px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .cart__cont {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .card {
        margin-top: 3rem;
    }
    
    .card__text {
        font-size: 1.1rem;
    }
    
    .card__title {
        font-size: 1.3rem;
    }
}
