.footer {
    background: #6c5757;
    padding: 3rem 0 3rem 0;
    margin-top: 3rem;
    color: #f6f3f7;
}

.footer__text {
    font-size: 1.5rem;
}

.footer_cont {
    display: flex;
    justify-content: end;
}
