.andAlso {
    padding: 4rem 0 5rem 0;
    background: #f2f2f2;
}

.andAlso__title {
    font-size: 2.2rem;
    text-align: center;
}

.andAlso__text {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
  font-style: italic;
  color: #00d3c0;
}

.andAlso__text2 {
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
}

.andAlso__flex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.andAlso__img {
   margin-left: 2rem;
}

@media (max-width: 767px) {
    .andAlso__title {
        font-size: 2rem;
    }
    
    .andAlso__text {
        font-size: 1.3rem;
    }
    
    .andAlso__text2 {
        font-size: 1.1rem;
    }
    
    .andAlso__img {
       margin-left: 0;
    }
    
}

@media (max-width: 500px) {
    .andAlso__title {
        font-size: 2rem;
    }
    
    .andAlso__text {
        font-size: 1.2rem;
    }
}
  