.transport {
    padding: 4rem 0 5rem 0;
}

.transport__title {
    font-size: 2.2rem;
    text-align: center;
}

.transport__text_center {
    font-size: 2rem;
    margin: 2rem 0;
    color: #00d3c0;
    text-align: center;
    font-style: italic;
}

.transport__text {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.transport__link {
    text-decoration: none;
    color: #00d3c0;
    margin-left: 1rem;
    font-style: italic;
}

.transport__link:hover {
    color: #04ac9d;
}

.transport__flex {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

@media (max-width: 767px) {
    .transport__title {
        font-size: 2rem;
    }
    
    .transport__text_center {
        font-size: 2rem;
    }
    
    .transport__text {
        font-size: 1.2rem;
    }

    .transport__flex {
        font-size: 1.2rem;
    }
}
  